body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.main-container {
    padding: 24px 16px;
    display: flex;
    flex-wrap: wrap;
    width: 510px; 
    margin: 0 auto; 
}

h2.main-heading {
    padding: 8px 32px;
    margin-top: 0;
    margin-bottom: 42px;
    text-align: center;
}

.scratch-container {
    width: calc(33.33% - 20px); 
    height: 150px;
    border-radius: 10px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

.scratch-card {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

canvas {
    position: absolute;
    cursor: grabbing;
}

h2{
    margin-top: 30px;
    text-align: center;
}